*{
    margin: 0;
    padding: 0;
}
.container-full{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    position: relative;
    touch-action: none;
}
.container-full svg{
    position: absolute;
    width: 100%;
    height:100vh;
    filter:sepia(20%);
}